<div class="mt-4 d-flex flex-column align-items-center text-left">
  <h2>Error!</h2>
  {{#if inputEmpty}}
  <p>Sorry... you have to enter a URL.</p>
  {{else}}
  <p>Sorry... {{errorURL}} is not valid, please make sure your shortened URl is generated correctly and try
    again! (Notice: you need to have "http://" at the beginning of the URL you enter.)</p>
  {{/if}}
</div>
<div class="mx-auto" style="width: 14vw;">
  <a href="/" class="btn btn-primary fs-6"  style="width: 14vw">Retry</a>
</div>
