<div class="d-flex flex-column align-items-center text-center mt-4">
  <h3>Success! Please use this link:</h3>
  <p id="generatedURL"> https://URL_shortener.herokuapp.com/ {{ shortURL }}</p>
</div>
<div class="mx-auto" style="width: 14vw;">
  <button class="btn btn-primary mx-auto mt-3 p-2 fs-6" style="width: 14vw">Copy</button>
</div>