<div class="mt-4 mx-5 px-5">
  <h3>Success! Please use this link:</h3>
  <p id="generatedURL">test</p>
</div>
<div class="mx-auto" style="width: 14vw;">
  <button class="btn btn-primary mx-auto mt-3 p-2 fs-6" style="width: 14vw">Copy</button>
</div>